<div class="well">
    <form {{action "save" on="submit"}} class="form-horizontal clearfix">
        {{#if errorMessage}}
            <h2 class="white bg-red p1">{{errorMessage}}</h2>
        {{/if}}
        {{input value=model.name placeholder="Article name" class="form-control"}}<br>
        <div class="pull-right">
            <button {{action "cancel"}} class="btn btn-default">Cancel</button>
            <button type="submit" class="btn btn-success">Save</button>
        </div>
    </form>
</div>