<td>{{loan.article.name}}</td>
<td>{{loan.notes}}</td>
<td>{{format-date loan.createdAt 'DD.MM.YYYY'}}</td>
<td>
  {{input type="checkbox" checked=loan.returned click=(action save loan)}}
</td>
<td>
  {{#if loan.isSaving}}
      <i class="fa fa-cog fa-spin fa-2x fa-fw"></i>
  {{/if}}
</td>