<div class="row">
    <div class="col-md-6"><h2>Total friends: {{model.length}}</h2></div>
    <div class="col-md-6 text-right">{{#link-to "friends.new" class='btn btn-info'}}<i class="fa fa-user-plus" aria-hidden="true"></i> Add new friend{{/link-to}}</div>
</div>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Name</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {{#each model as |friend|}}
        <tr>
            <td>
              {{link-to friend.fullName "loans" friend}}
            </td>
            <td class="text-center">
                <button class="btn btn-danger" href="#" {{action "delete" friend}}><i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>