<table class="table table-bordered">
    <thead>
    <tr>
        <th>Name</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {{#each model as |article|}}
        <tr>
            <td>
              {{link-to article.name "articles.show" article}}
            </td>
            <td class="text-center">
                <button class="btn btn-danger" href="#" {{action "delete" friend}}><i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>
